.category-card {
  display: grid;
  place-content: center;
  text-align: center;
  width: 250px;
  height: 291px;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  border-radius: 20px;
}

.category-card__image {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f2f2;
  border-radius: 20px;
}

.category-card__image:hover {
  background-color: #f0eaea;
}

.category-card__info {
  font-weight: 500;
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
}
