.category-card {
  display: grid;
  place-content: center;
  text-align: center;
  padding: 16px;
  margin: 8px;
  border-radius: 20px;
}

.category-card__image {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f2f2;
  border-radius: 20px;
}

.category-card__image:hover {
  background-color: #f0eaea;
}

.category-card__info {
  font-weight: 500;
  margin-top: 12px;
  text-align: center;
}

@media (max-width: 720px) {
  .category-card {
    width: 140px;
  }

  .category-card__image {
    width: 140px;
    height: 140px;
  }
}
