.footer {
  padding: 70px 0 110px;
  background-color: var(--secondary-color);
  color: #ffffff;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  column-gap: 30px;
  row-gap: 50px;
}

/* 1 Колонна */
.footer__company {
  display: flex;
  flex-direction: column;

  height: 300px;
  flex-basis: 320px;
}
.footer__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  margin-top: 15px;
}
.footer__appeal {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.footer__subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  width: 280px;
  padding: 0 10px 0 20px;
  margin-top: 15px;

  background-color: #ffffff;
  border-radius: 36px;
  overflow: hidden;
}
.footer__input {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: 500;

  height: 40px;
  width: 40px;
  padding-bottom: 4px;
  padding-left: 3px;

  background-color: var(--accent-color);
  border-radius: 50%;

  transition: all ease 0.4s;
}
.footer__button:hover {
  background-color: var(--hover-color);
}

/* 2 Колонна */
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.footer__link {
  transition: all ease 0.4s;
}
.footer__link:hover {
  color: var(--hover-color);
}

/* 3 Колонна */
.footer__categories {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* 4 Колонна */
.footer__downloads {
  display: flex;
  flex-direction: column;
}
.footer__price-button {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 215px;
  padding: 20px 50px;
  margin-top: 25px;

  border-radius: 80px;
  background-color: var(--accent-color);

  transition: all ease 0.4s;
}
.footer__price-button:hover {
  background-color: var(--hover-color);
}
.--not-active {
  display: none;
}
.footer__price {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.footer__text {
  margin-top: 20px;
}
.footer__messengers {
  display: flex;
  gap: 10px;

  margin-top: 15px;
}

/* 5 Колонна */
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__phone {
  font-weight: 600;
  line-height: 21px;
}
.footer__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}
.footer__callback {
  font-size: 10px;
  line-height: 15px;

  text-decoration: underline;
}
.footer__adres {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__email {
  font-weight: 600;
}
.footer__email-text {
  font-size: 12px;
  font-weight: 300;
}
.footer__payments {
  display: flex;
  gap: 5px;
}

/* АДАПТИВ */
@media (max-width: 950px) {
  .footer__container {
    justify-content: space-between;
  }
}

@media (max-width: 666px) {
  .footer {
    padding: 20px 0;
  }
  .--not-active {
    display: flex;
  }
  .--active {
    display: none;
  }
  .footer__downloads {
    order: 1;
  }
  .footer__company {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
  }
  .footer__description,
  .footer__price-button,
  .footer__subscribe {
    margin-top: 0;
  }
  .footer__text {
    margin-top: 55px;
  }
}

@media (max-width: 440px) {
  .footer {
    padding: 0;
  }
  .footer__container {
    padding: 15px;
    column-gap: 15px;
    row-gap: 25px;
  }
  .footer__company {
    height: auto;
    gap: 15px;
  }
  .footer__logo img {
    height: 40px;
  }
  .footer__price-button {
    width: auto;
    padding: 12px 30px;
    gap: 5px;
  }
  .footer__price,
  .footer__description {
    font-size: 12px;
    line-height: 18px;
  }
  .footer__subscribe {
    flex-basis: 100%;
  }
  .footer__menu {
    gap: 20px;
  }
  .footer__item {
    font-size: 12px;
  }
  .footer__text {
    width: 110px;
  }
}
