.product-categories__description {
  color: var(--secondary-color);
}

.product-categories__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  margin-bottom: 12px;
  margin-top: 28px;
}

.product-categories__title {
  width: 455px;
  height: 48px;
  margin-top: 80px;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 500;
}

.product-categories__title span {
  color: var(--accent-color);
  font-weight: 800;
}

