.promo-products__title {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 500;
}
.promo-products__title span {
  font-weight: 800;

  color: var(--accent-color);
}

.promo-products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 720) {
  .promo-products__list {
    display: block;
    
  }
}
