@use '/src/styles/variables.scss' as *;

.product-categories {
  &__title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 16px;

    span {
      color: $color-accent;
      font-weight: 800;
    }
  }

  &__description {
    font-weight: 300;
    color: $color-secondary;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    margin-top: 50px;
  }

  &__item {
    flex: 1 1 230px;
    max-width: 400px;
    text-align: center;
  }

  @media (max-width: 850px) {
    &__title {
      font-size: 32px;
      margin-bottom: 10px;
    }

    &__list {
      margin-top: 30px;
    }

    &__item {
      flex: 1 1 180px;
      max-width: 350px;
    }
  }

  @media (max-width: 600px) {
    &__list {
      gap: 30px 10px;
    }

    &__item {
      flex: 1 1 140px;
    }
  }

  @media (max-width: 400px) {
    &__list {
      gap: 10px;
      margin-top: 26px;
    }

    &__title {
      font-size: 20px;
    }
  }
}
