@use '/src/styles/variables.scss' as *;

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

	font-size: 14px;
	font-weight: 600;
	color: white;
	cursor: pointer;

  background-color: $color-secondary;
  border: none;
  padding: 12px 18px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba($color-secondary, 0.5);
  transition: all $duration ease;

	&:hover {
		background-color: $color-active;
	}
}

.scroll-to-top.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.scroll-to-top.visible {
  opacity: 1;
  transform: translateY(0);
}