@use '/src/styles/variables.scss' as *;

.price-filter {
  .container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $color-primary;
    font-size: 16px;
    font-weight: 500;
  }

  &__pr {
    margin-top: 10px;
    color: $color-secondary;
    font-size: 16px;
    font-weight: 300;
  }

  &__range {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 10px;

    &__min,
    &__max {
      input {
        text-align: center;
        width: 100px;
        height: 24px;
        padding: 4px;
        border-radius: 10px;
        background-color: $color-faint;
      }
    }
  }
}
