@use '/src/styles/variables.scss' as *;

.tag {
	&__list {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 50px;

		@media (max-width: $tablet) {
			justify-content: center;
		}

		&-item {
			font-size: 14px;
			font-weight: 400;
			line-height: 16px;
			color: $color-secondary;
			padding: 18px 16px;
			box-shadow: 0px 0px 40px rgba($color-primary, 0.1);
			border-radius: 10px;
			background-color: $color-white;
			transition: all $duration ease;

			@media (max-width: $tablet) {
				font-size: 12px;
				padding: 14px 12px;
			}

			@media (max-width: $mobile) {
				width: 100%;
				padding: 10px 0;
				border-radius: 6px;
			}

			&.selected {
				box-shadow: 2px 2px 5px inset rgba($color-primary, 0.3);

				&:hover {
					background-color: $color-gray-dark;
				}
			}

			&:hover {
				color: $color-white;
				background-color: $color-accent;
			}
		}
	}
}
